html, body
{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  height:100%;
}

.primary-container {
  height: 100%;
}


.logo-link {
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 0px;
}


.bold-font {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
}

.normal-font {
  font-size: 1.2em;
  color: white;
}

.imgshrink {
  width: 225px;
  height: auto;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .8s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}


