<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric Silva - Portfolio</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
</head>
<body id="app">

<style>

    html,body,.container
    {
        background: #21305d;
    }

    .portfolio-container {
        margin-top: 30px;
        height:100%;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    a:hover, a:visited, a:link, a:active
    {
        color: white;
        text-decoration: none;
    }

    .portfolio-item {
        margin-bottom: 30px;
        text-align: center;
    }

    .makebold {
        font-weight: bold;
    }


</style>
<div class="container col-lg-12">
    <div class="row">
        <div class="col-sm-12">
            <a href="index.html"><img src="img/home.png" class="logo-link"></a>
        </div>
    </div>

<div class="col-lg-12">
    <div class="row">
        <div class="col-sm-8 col-lg-offset-2" style="text-align: center;">
            <p class="bold-font">PORTFOLIO</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align: center; margin-top: 20px;">
            <p class="normal-font"><a href="" id="print" @click.prevent="showPrint" class="makebold">PRINT</a>  &nbsp;&nbsp;|&nbsp;&nbsp;  <a href="" @click.prevent="showWeb" id="web">WEB</a>  &nbsp;&nbsp;|&nbsp;&nbsp; <a href="" id="logos" @click.prevent="showLogos">LOGOS</a></p>
        </div>
    </div>
    <div class="row">
        <div class="portfolio-container">

            <template v-if="print">
                <img src="img/print-1-guinness.jpg" class="img-responsive portfolio-item">
                <img src="img/print-2-belichick.jpg" class="img-responsive portfolio-item">
                <img src="img/print-3-people.jpg" class="img-responsive portfolio-item">
                <img src="img/print-4-gatehouse.jpg" class="img-responsive portfolio-item">
                <img src="img/print-7-veridium-signs.jpg" class="img-responsive portfolio-item">
                <img src="img/print-8-veridium-business-cards.jpg" class="img-responsive">
            </template>
            <template v-if="web">
                <img src="img/web-1-veridium.jpg" class="img-responsive portfolio-item">
                <img src="img/web-2-lwn.jpg" class="img-responsive portfolio-item">
                <img src="img/web-3-gladlydo.jpg" class="img-responsive portfolio-item">
                <img src="img/web-4-nets.jpg" class="img-responsive">
            </template>
            <template v-if="logos">
                <img src="img/logo-1-veridium.jpg" class="img-responsive portfolio-item">
                <img src="img/logo-2-barstool-sports.jpg" class="img-responsive portfolio-item">
                <img src="img/logo-3-4-fingers.jpg" class="img-responsive portfolio-item">
                <img src="img/logo-4-personal.jpg" class="img-responsive portfolio-item">
                <img src="img/logo-5-id-ad.jpg" class="img-responsive">
            </template>

        </div>
    </div>
</div>


</div>



<script
        src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>

<script>
    new Vue({
        el: '#app',
        data: {
            print: true,
            web: false,
            logos: false
        },
        methods: {
            showWeb: function () {
                this.print = false;
                this.logos = false;
                this.web = true;
                $('#print').removeClass('makebold');
                $('#logos').removeClass('makebold');
                $('#web').addClass('makebold');
            },
            showPrint: function () {
                this.print = true;
                this.logos = false;
                this.web = false;
                $('#print').addClass('makebold');
                $('#logos').removeClass('makebold');
                $('#web').removeClass('makebold');
            },
            showLogos: function() {
                this.print = false;
                this.logos = true;
                this.web = false;
                $('#print').removeClass('makebold');
                $('#logos').addClass('makebold');
                $('#web').removeClass('makebold');
            }

        }
    });
</script>
